{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <!-- <img class="card-img-top" src="" style="height: 250px; width: 250px;" alt="Card image cap"> -->
          <div class="card-body justify-content-center">
           
            <p class="card-text">Article</p>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 100%">
          <!-- <img class="card-img-top" src="" style="height: 250px; width: 250px;"alt="Card image cap"> -->
          <div class="card-body">
            <a class="card-text" href="/article">Books</a>
          </div>
        </div>
    </div>  
</div>

{% endblock content %}
