{% extends "layout.html" %}
{% block content %}
<br>
    <!-- <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 90%;">
              <img class="card-img-top" src="../static/img/laptop.jpg" style="height: 250px; width: 250px;" alt="Card image cap">
              <div class="card-body">
                <a class="card-text" href="/buy">Laptop</a>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 90%">
              <img class="card-img-top" src="../static/img/monitor.jpg" style="height: 250px; width: 250px;"alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Monitor</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 90%;">
              <img class="card-img-top" src="../static/img/server.jpg" style="height: 250px; width: 250px;" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Server</p>
              </div>
            </div>
        </div>   

        <div class="col-md-4 mt-4">
            <div class="card" style="width: 90%;">
              <img class="card-img-top" src="../static/img/workstation.jpg" style="height: 250px; width: 250px;" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Workstation</p>
              </div>
            </div>
        </div> 

        <div class="col-md-4 mt-4">
            <div class="card" style="width: 90%;">
              <img class="card-img-top" src="../static/img/bag.png" style="height: 250px; width: 250px;" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Accessories</p>
              </div>
            </div>
        </div> 
    </div> -->

{% endblock content %}
